body {
    background-color:  #ECECF5;
}

#control{
    padding: .5em 1em;
}

#control select{
    width: 140px;
    border: solid 1px #363636;
}

#control input[type=text]{
    width: 20em;
    display: inline-block;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2) inset;
}

#countdown{
		font-size: 32px;
		position: absolute;
		top: 50%;
		text-align: center;
		width: 100%;
        color: #999;
		width: 100%;
}

form {
    font-size: 15px;
   
}

form span{
    width: 100px;
    
    display: inline-block;
    text-align: center;
    color: #666;
}